* {
	box-sizing: border-box;
}

.page {
	display: flex;
	height: 100%;
	margin: 0;
	color: white;
	font-family: "cronos-pro";
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
	padding: 40px;
	width: 250px;
	max-width: 30%;
	background-color: #1c3061;
	overflow: auto;
}

.doodle {
	width: 100px;
}

.nav-link {
	display: block;
	margin: 20px 0;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.social {
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
}

.social-link {
	margin-top: 4px;
	margin-right: 4px;
}

.social-link>img {
	border-radius: 4px;
	height: 20px;
	width: 20px;
}

.main-content {
	flex-grow: 1;
	position: relative;
	background-color: grey;
	height: 100%;
	overflow: auto;
}

.full-image {
	position: absolute;
	width: 100%;
	height: 100%;
}

.fade-in {
	object-fit: cover;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

.loaded {
	opacity: 1;
}

.content-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 33%;
	min-width: 180px;
	transform: translate(-50%, -50%);
}

.title {
	font-weight: normal;
	font-family: 'adage-script-jf', cursive;
}

.rsvp {
	border: none;
	width: 100%;
	height: 100%;
}

.header {
	position: relative;
	height: 60vh;
}

.header>.slide {
	object-position: 50% 30%;
}

.header-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	max-width: calc(100% - 80px);
	transform: translate(-50%, -50%);
	border-radius: 20px;
	box-shadow: 0px 0px 8px 4px rgb(0, 0, 0, .1);
	background-color: rgb(0, 0, 0, .1);
}

.header-quote {
	font: 22px 'adage-script-jf', cursive;
	text-align: center;
}

.header-attribution {
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
}

.story-container {
	display: flex;
	padding: 40px;
	color: #1c3061;
	background-color: white;
}

.story-lead-in {
	flex-shrink: 0;
	font-size: 40px;
	width: 25%;
	margin-right: 40px;
}

.our-story {
	margin: 20px 0;
	color: #6676B2;
	font-size: 14px;
	font-weight: bold;
}

.story {
	columns: 2 auto;
	column-gap: 40px;
}

.story>p {
	margin: 0 0 1em;
	font-size: 20px;
	break-inside: avoid-column;
}

.gallery {
	display: flex;
}

.gallery-list {
	flex: 0 0 40%;
	background-color: white;
	color: #1C3061;
	overflow-y: auto;
}

.gallery-title {
	font-size: 50px;
	padding: 40px;
}

.gallery-blurb {
	font-size: 20px;
	padding: 40px;
	word-break: break-word;
}

.gallery-images {
	display: flex;
	padding: 10px;
}

.gallery-column {
	flex: 0 0 50%;
}

.list-image {
	width: calc(100% - 20px);
	margin: 10px;
	cursor: pointer;
	transition: transform .2s, box-shadow .2s;
}

.list-image:hover {
	box-shadow: 0 0 5px 3px #6676B2;
	transform: scale(1.05);
}

.gallery-view {
	position: relative;
	flex: 0 0 60%;
	box-shadow: inset 0 0 200px 20px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.gallery-view>.full-image {
	object-fit: contain;
}

.left-icon, .right-icon {
	display: flex;
	position: absolute;
	top: 50%;
	height: 32px;
	transform: translateY(-50%);
	color: #6676B2;
	cursor: pointer;
	transition: transform .2s;
	z-index: 10;
}

.left-icon svg {
	flex-shrink: 1;
}

.left-icon {
	left: 10px;
}

.right-icon {
	right: 10px;
}

.left-icon:hover, .right-icon:hover {
	transform: translateY(-50%) scale(1.5);
}

.left-icon:active, .right-icon:active {
	color: #1C3061;
}

@media only screen and (max-width: 1199px) {
	.story-lead-in {
		font-size: 30px;
	}

	.story {
		columns: 1 auto;
	}
}

@media only screen and (max-width: 899px) {
	.story-container {
		display: block;
	}

	.story-lead-in {
		width: auto;
		margin-right: 0;
	}

	.gallery {
		display: block;
	}

	.gallery-title {
		font-size: 40px;
	}

	.gallery-blurb, .gallery-images {
		display: none;
	}

	.gallery-view {
		height: calc(100% - 128px);
	}
}

@media only screen and (max-width: 599px) {
	.sidebar {
		width: 100px;
		padding: 20px;
	}

	.doodle {
		width: 60px;
	}

	.nav-link {
		font-size: 16px;
	}

	.story-container {
		padding: 20px;
	}

	.header-overlay {
		max-width: calc(100% - 40px);
	}

	.gallery-title {
		padding: 20px;
	}

	.gallery-view {
		height: calc(100% - 88px);
	}
}
