* {
	box-sizing: border-box;
}

.page {
	display: flex;
	height: 100%;
	margin: 0;
	color: white;
	font-family: "cronos-pro";
}

.sidebar {
	padding: 40px;
	width: 250px;
	background-color: #1c3061;
}

.doodle {
	width: 100px;
}

.nav-link {
	display: block;
	margin: 20px 0;
	color: white;
	text-decoration: none;
}

.main-content {
	flex-grow: 1;
	position: relative;
	background-color: grey;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

.rsvp {
	border: none;
	width: 100%;
	height: 100%;
}

.loaded {
	opacity: 1;
}

.content-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 33%;
	min-width: 180px;
	transform: translate(-50%, -50%);
}

.title {
	font-weight: normal;
	font-family: 'adage-script-jf', cursive;
}

@media only screen and (max-width: 599px) {
	.sidebar {
		width: 100px;
		padding: 20px;
	}

	.doodle {
		width: 60px;
	}
}
